# Example Environment Variables for KasSaku Backend
# Copy this file and rename it to ".env" before running the project

# MongoDB connection string
MONGO_URI=your_mongodb_connection_string_here

# Server port
PORT=5000
